<html>
<head>
    <title>Войти в систему</title>
</head>
<body>
<h2>
    <a href="/registration">Registration</a>
</h2>
<table align="center">
    <thead>
    <tr>
        <td>
            Логин:
        </td>
        <td>
            Пароль:
        </td>
    </tr>
    </thead>
    <form method="post" action="/login">

        <tr>
            <td>
                <input name="j_username"/>
            </td>
            <td>
                <input name="j_password"/>
            </td>
            <td>
                <input type="submit"/>
            </td>

        </tr>
    </form>
</table>


</body>
</html>
